.sliderBoxContainer {
   z-index: 40;
   position: relative;
   background-position: center center;
   background-size: cover;
   overflow: hidden;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.sliderBox {
   display: block;
   max-width: 1300px;
   width: 100%;
   position: relative;
}

/* menu */

.menuPageBoxMenuWrap {
   display: flex;
   justify-content: center;
}

.menuPageBoxMenuItemsBox {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 100%;
}

.menuPageBoxMenuItems {
   width: 100%;
   overflow: hidden;
   /* border: 1px dashed #26abe2; */
}
/* new */
.menuItem {
   padding: 0px 15px;
   cursor: pointer;
}
/* new */
.menuPageButton {
   padding: 20px;
   border-radius: 0;
   cursor: pointer;
   transition: all 0.3s ease;
   text-align: center;
   font-size: 17px;
   text-transform: uppercase;
   font-weight: 600;
   user-select: none;
   display: flex;
   justify-content: center;
   align-items: center;
   white-space: nowrap;
}

.menuPageButton.menuPageActive {
   background-color: #26abe2;
   color: white;
}

.menuPageButton.menuPageInactive {
   background-color: white;
   color: #000;
}

.arrowsMenuContainerCat {
   display: flex;
   gap: 20px;
   position: absolute;
   justify-content: space-between;
   width: 100%;
   top: 60px;
   z-index: 0;
}

.arrowsMenuContainerCatParent {
   position: relative;
   width: 100%;
}

.arrowMenuButtonBoxCatL {
   background-color: #fff;
   border: 1px solid #000;
   height: 50px;
   width: 50px;
   border-radius: 100px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 60px;
   left: 0px;
   z-index: 1;
}
.arrowMenuButtonBoxCatR {
   background-color: #fff;
   border: 1px solid #000;
   height: 50px;
   width: 50px;
   border-radius: 100px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 60px;
   right: 0px !important;
   z-index: 2;
}

.arrowMenuButton {
   font-size: 27px;
   color: #000;
   transition: all 0.3s ease-in-out;
}

.menuPageMenuItemsImage {
   width: 100%;
   height: 180px;
   object-fit: cover;
   border-radius: 10px 10px 0px 0px;
}

.menuPageMenuItemsImgParent {
   position: relative;
}

.menuPageMenuItemsPrice {
   position: absolute;
   left: 0;
   bottom: 4px;
   border-left: 1px solid #dddddd;
   border-top-right-radius: 10px;
   padding: 15px 20px 20px 20px;
   background: #fff;
   font-weight: 800;
   align-items: center;
   gap: 30px;
   padding-bottom: 5px;
   color: #666666;
   font-size: 16px;
}

.menuPageMenuItemsName {
   color: #111;
   font-size: 20px;
   font-weight: 600;
   padding: 22px 0px 22px 20px;
}

.menuPageMenuItemsBox {
   border: 1px solid #dddddd;
   border-top: none;
   margin-top: -4px;
   border-radius: 0px 0px 10px 10px;
}

.menuPageMenuItemsListItemsBox {
   padding-left: 30px;
   padding-bottom: 25px;
   display: flex;
   gap: 5px;
}

/* menu show */

.menuShowCardWrap {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
}

.menuShowCardSubTitle {
   color: #fd9900;
   font-size: 16px;
   font-weight: 400;
   margin-bottom: 10px;
}
.menuShowCardTitle {
   color: #333;
   font-size: 44px;
   font-weight: 700;
   margin-bottom: 20px;
}

/* menu show card */

.menuShowCardMain {
   border: 1px solid #ebecf1;
   border-radius: 18px;
   padding: 25px;
   -webkit-transition: all 0.3s linear;
   transition: all 0.3s linear;
   display: flex;
   align-items: center;
   margin-top: 6px;
}
.menuShowCardMain:hover {
   margin-top: -0px;
}

.menuShowCardMainBox {
   display: flex;
   align-items: center;
}

.menuShowCardImgBox {
   min-width: 84px;
   height: 84px;
   width: 84px;
   padding: 10px;
   border-radius: 8px;
   background-color: #eee;
   border: 1px dashed #fd9900;
   margin-right: 15px;
}

.menuShowCardImg {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 8px;
}

.menuShowCardNameBox {
   display: flex;
   flex-direction: column;
   /* width: 60%; */
}

.menuShowCardName {
   font-size: 20px;
   font-weight: 700 !important;
   margin-bottom: 4px;
   margin-top: -10px;
}
.menuShowCardDesc {
   font-size: 15px;
   font-weight: 400 !important;
   height: 38px;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   line-clamp: 2;
   -webkit-box-orient: vertical;
   padding-right: 15px;
}

.menuShowCardLine {
   height: 1px;
   width: 80%;
   background: #ccc;
}
.menuShowCardPrice {
   font-size: 18px;
   font-weight: 400 !important;
   color: #fd9900;
   margin-left: 8px;
}

.catrgoryItemBox {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   gap: 30px;
   width: 100%;
   padding: 4rem 0rem 0rem 0rem;
}

.categoryItemBoxItems {
   padding: 14px 34px;
   background-color: #26abe2;
   color: #fff;
   font-size: 18px;
   cursor: pointer;
   border-radius: 4px;
}
.categoryItemBoxItemsInactive {
   padding: 14px 34px;
   background-color: #fff;
   border: 1px solid #26abe2;
   color: #26abe2;
   font-size: 18px;
   cursor: pointer;
   border-radius: 4px;
}

.menuPageBoxMenuItems .slick-dots {
   bottom: -5px;
   text-align: center;
}
.dealsPage .slick-dots {
   bottom: -32px;
   text-align: center;
}

.slick-dots li button:before {
   font-size: 10px;
   color: gray;
}

.slick-dots li.slick-active button:before {
   color: black;
}

@media screen and (max-width: 1100px) {
   .sliderBox {
      display: block;
   }
   .menuPageBoxMenuItemsBox {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
   }
   .arrowsMenuContainerCat {
      display: flex;
      gap: 20px;
      position: absolute;
      justify-content: space-between;
      width: 100%;
      top: 60px;
      z-index: 0;
   }
   .arrowMenuButtonBoxCatL {
      background-color: #fff;
      border: 1px solid #000;
      height: 50px;
      width: 50px;
      border-radius: 100px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 110px;
      left: 0px;
      z-index: 1;
   }
   .arrowMenuButtonBoxCatR {
      background-color: #fff;
      border: 1px solid #000;
      height: 50px;
      width: 50px;
      border-radius: 100px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 110px;
      right: 0px !important;
      z-index: 2;
   }
}

@media screen and (max-width: 880px) {
   .arrowMenuButtonBoxCatL {
      display: none;
   }
   .arrowMenuButtonBoxCatR {
      display: none;
   }
   .arrowsMenuContainerCat {
      display: none;
   }
   .menuPageBoxMenuItemsBox {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
   }
   .slick-track {
      padding-bottom: 40px;
   }
}
@media screen and (max-width: 555px) {
   .sliderBox {
      display: block;
   }
   .slick-slide {
      width: 200px;
   }
   .menuPageBoxMenuItemsBox {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
   }
   .menuItem {
      padding: 0px 6px;
   }
}
